* {
    box-sizing: border-box;
}

.main-header {
    background: linear-gradient(rgb(207, 204, 204), transparent 100%),
    linear-gradient(0deg, rgb(207, 204, 204), transparent),
    #2727b1 url('../images/tech.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding-top: 220px;
    padding-bottom: 2%;
}

.Introduction {
    max-width: 90%;
    margin: 0 auto;
}

section {
    max-width: 90%;
    margin: 0 auto;
}

.img {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;
}

.hov:hover {
    transform: scale(1.1);
    box-shadow: -5px 15px 10px 0 rgba(0, 0, 0, 0.7);
}

.profile-image {
    width: 50%;
    display: inline-block;
    border-radius: 20px;
}

body {
    text-align: center;
    font-family: 'Grenze', serif;
    color: rgb(5, 0, 20);
    background: rgb(207, 204, 204);
}

h1 {
    color: #fff;
    padding-bottom: .5em;
    margin: 0;
    font-size: 50px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 28px;
}

a { 
    color: rgb(28, 115, 230);
    text-decoration: none;
}

.fixed {
    font-size: 25px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: linear-gradient(#2727b1, transparent 70%),
    linear-gradient(0deg, rgb(207, 204, 204), transparent),
    #2727b1 url('../images/tech.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 10px;
}

a:hover {
    color: rgb(71, 168, 212);
    text-decoration: underline;
}

.main-nav a{
    color: #fff;
    display: block;
}

.main-nav a:hover {
    color: rgb(231, 231, 231);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    transform: scale(1.1);
    text-decoration: none;
}


li {
    list-style: none;
    display: block;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    font-size: 23px;
    max-width: 85%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.align {
    margin-bottom: 5%;
}

.margin {
    margin-bottom: 20px;
}

.portfolio h2 {
    margin-top: 2px;
}

.art {
    padding-bottom: 50px;
}

footer {
    background: rgb(179, 179, 179);
    padding-top: 5%;
    margin-top: 10%
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 768px) {

    li { display: inline-block; 
    margin-right: 2%;
    }
    
    .profile-image {
        width: 35%;
        float: right;
        margin-right: 10%;
        margin-left: 2%;
    }

    .media {
        width: 40%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .align {
        text-align: right;
    }

    p {
        font-size: 25px;
    }

    .introduction {
        text-align: left;
        font-size: 32px;
    }

    .exp {
        width: 50%;
        float: left;
    }

    .art {
        width: 50%;
        float: left;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    .clearwhut {
        padding-top: 380px; /*--I can't figure out why my clearfix isn't working in this part so I added padding instead--*/
    }
    
}

@media (min-width: 1024px) {

    h1 {
        font-size: 40px;
        text-align: left;
        padding-left: 40px;
        margin-top: 10px; 
        display: block;
        float: left;
    }

    .main-nav {
        font-size: 25px;
        float: right;
        display: block;
        width: 60%;
        margin-top:25px;
    }

    .bar {
        display: block;
    }

    p {
        font-size: 28px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 45px;
    }

    .exp {
        width: 33%;
        float: left;
    }

    .exp1 {
        width: 33%;
        float: left;
    }
    
    .media {
        width: 100%;
        float: none;
        margin-left: 0%;
        margin-right: 0%;
    }

    .align {
        text-align: center;
    }

    .clearwhut {
        padding-top: 0px;
    }

    .art {
        width: 33%;
        float: left;
    }

    .introduction {
        font-size: 40px;
    }

    footer h2 {
        font-size: 30px;
    }

    footer p {
        font-size: 25px;
    }

    footer {
        padding-top: 20px;
    }

    .fixed {
        float: left;
    }

}